PyPDF2
pdfplumber
nlp
docx2txt
scikit-learn
spacy==2.3.5
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
nltk
pyresparser
gensim
statsmodels
plotly
seaborn
matplotlib
patsy
pandas
numpy==1.25
shap==0.36.0
streamlit==1.27.0
streamlit-aggrid
scipy
tensorflow
yellowbrick
