PyPDF2
pdfplumber
docx2txt
scikit-learn
spacy==2.3.5
nltk
pyresparser
gensim
statsmodels
plotly
seaborn
matplotlib
patsy
pandas
numpy==1.25
shap==0.36.0
streamlit==1.27.0
streamlit-aggrid
scipy
tensorflow
yellowbrick
