PyPDF2
pdfplumber
docx2txt
scikit-learn
spacy==2.3.5
nltk
pyresparser
gensim
statsmodels
plotly
seaborn
matplotlib
patsy
pandas
numpy
shap
streamlit==1.27.0
streamlit-aggrid
scipy
tensorflow
yellowbrick
